{
  "openapi": "3.1.0",
  "info": {
    "title": "Oliver Partner API",
    "description": "API for partners to interact with Oliver",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://partner-api.getoliver.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/services/user/v1/auth/sign-in": {
      "post": {
        "security": [],
        "description": "Authenticate with the API",
        "requestBody": {
          "description": "Sign in credentials. You may obtain your partner authentication credentials from engineering@getoliver.com",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignInRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sign in response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignInResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignInError"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignInError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignInError"
                }
              }
            }
          }
        }
      }
    },
    "/services/core/open_api/v1/open_times": {
      "post": {
        "description": "Search for open times for a given provider, appointment type, etc. Can be used to find open times in the future or past.",
        "parameters": [
          {
            "name": "X-Client-Id",
            "in": "header",
            "description": "The location id of the practice",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Open times request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenTimesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Open times response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenTimesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          }
        }
      }
    },
    "/services/core/open_api/v1/appointments": {
      "get": {
        "description": "List appointments",
        "parameters": [
          {
            "name": "X-Client-Id",
            "in": "header",
            "description": "The location id of the practice",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updated_at_start",
            "in": "query",
            "description": "Start date of the range in which results were last updated",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updated_at_end",
            "in": "query",
            "description": "End date of the range in which results were last updated. If not provided, the current date will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of results per page. Max is 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appointments response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "$ref": "#/components/schemas/AppointmentResponse"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create an appointment",
        "requestBody": {
          "description": "Appointment to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAppointmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Appointment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAppointmentResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignInError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          }
        }
      }
    },
    "/services/core/open_api/v1/appointment_types": {
      "get": {
        "description": "List appointment types",
        "parameters": [
          {
            "name": "X-Client-Id",
            "in": "header",
            "description": "The location id of the practice",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Optionally filter appointment types by name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of appointment types found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AppointmentType"
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          }
        }
      }
    },
    "/services/core/open_api/v1/appointment_types/{id}": {
      "get": {
        "description": "Get an appointment type by ID",
        "parameters": [
          {
            "name": "X-Client-Id",
            "in": "header",
            "description": "The location id of the practice",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the appointment type to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appointment type found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AppointmentType"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          }
        }
      }
    },
    "/services/core/open_api/v1/providers": {
      "get": {
        "description": "List providers",
        "parameters": [
          {
            "name": "X-Client-Id",
            "in": "header",
            "description": "The location id of the practice",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Optionally filter providers by name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of providers found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Provider"
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          }
        }
      }
    },
    "/services/core/open_api/v1/providers/{id}": {
      "get": {
        "description": "Get a provider by ID",
        "parameters": [
          {
            "name": "X-Client-Id",
            "in": "header",
            "description": "The location id of the practice",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the provider to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Provider found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Provider"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          }
        }
      }
    },
    "/services/core/open_api/v1/clients": {
      "get": {
        "description": "List clients using filters",
        "parameters": [
          {
            "name": "X-Client-Id",
            "in": "header",
            "description": "The location id of the practice",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter clients by name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Filter clients by email",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "description": "Filter clients by phone",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of clients found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Client"
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          }
        }
      }
    },
    "/services/core/open_api/v1/clients/{id}": {
      "get": {
        "description": "Get a client by ID",
        "parameters": [
          {
            "name": "X-Client-Id",
            "in": "header",
            "description": "The location id of the practice",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the client to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Client"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          }
        }
      }
    },
    "/services/core/open_api/v1/rooms": {
      "get": {
        "description": "List rooms",
        "parameters": [
          {
            "name": "X-Client-Id",
            "in": "header",
            "description": "The location id of the practice",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Optionally filter rooms by name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of rooms found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Room"
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          }
        }
      }
    },
    "/services/core/open_api/v1/rooms/{id}": {
      "get": {
        "description": "Get a room by ID",
        "parameters": [
          {
            "name": "X-Client-Id",
            "in": "header",
            "description": "The location id of the practice",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the room to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Room found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Room"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          }
        }
      }
    },
    "/services/core/open_api/v1/patients": {
      "get": {
        "description": "List patients for a specific client. Requires client_id and optionally filters by name.",
        "parameters": [
          {
            "name": "X-Client-Id",
            "in": "header",
            "description": "The location id of the practice",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_id",
            "in": "query",
            "description": "The ID of the client whose patients to list",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Optionally filter patients by name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Patient"
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          }
        }
      }
    },
    "/services/core/open_api/v1/patients/{id}": {
      "get": {
        "description": "Get a patient by ID",
        "parameters": [
          {
            "name": "X-Client-Id",
            "in": "header",
            "description": "The location id of the practice",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the patient to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Patient found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Patient"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          }
        }
      }
    },
    "/services/core/open_api/v1/booking_sessions": {
      "get": {
        "description": "List booking sessions within a date range, optionally filtered by status. Booking sessions represent user interactions with the online booking flow.",
        "parameters": [
          {
            "name": "X-Client-Id",
            "in": "header",
            "description": "The location id of the practice",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updated_at_start",
            "in": "query",
            "description": "Start of the date range for filtering sessions by updated_at. ISO 8601 format.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updated_at_end",
            "in": "query",
            "description": "End of the date range for filtering sessions by updated_at. If not provided, the current date will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter sessions by status. 'active' = in progress, 'completed' = resulted in an appointment, 'abandoned' = expired without booking.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "completed",
                "abandoned"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (0-based)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Booking sessions response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "$ref": "#/components/schemas/BookingSessionResponse"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          }
        }
      }
    },
    "/services/core/open_api/v1/booking_sessions/{id}": {
      "get": {
        "description": "Get a booking session by ID",
        "parameters": [
          {
            "name": "X-Client-Id",
            "in": "header",
            "description": "The location id of the practice",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the booking session to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Booking session found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/BookingSession"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          }
        }
      }
    },
    "/services/core/open_api/v1/staff_tasks": {
      "get": {
        "description": "List staff tasks with optional status filtering and pagination",
        "parameters": [
          {
            "name": "X-Client-Id",
            "in": "header",
            "description": "The location id of the practice",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter tasks by status. Available values: `pending`, `completed`, `canceled`",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "completed",
                "canceled"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of results per page. Max is 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Staff tasks response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "$ref": "#/components/schemas/StaffTaskListResponse"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new staff task",
        "parameters": [
          {
            "name": "X-Client-Id",
            "in": "header",
            "description": "The location id of the practice",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Staff task to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStaffTaskRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Staff task created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/StaffTask"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          }
        }
      }
    },
    "/services/core/open_api/v1/staff_tasks/{id}": {
      "get": {
        "description": "Get a staff task by ID",
        "parameters": [
          {
            "name": "X-Client-Id",
            "in": "header",
            "description": "The location id of the practice",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the staff task",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Staff task found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/StaffTask"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Update a staff task. Only provided fields will be updated.",
        "parameters": [
          {
            "name": "X-Client-Id",
            "in": "header",
            "description": "The location id of the practice",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the staff task to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Fields to update on the staff task",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateStaffTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Staff task updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/StaffTask"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a staff task. This performs a soft delete by setting the status to canceled.",
        "parameters": [
          {
            "name": "X-Client-Id",
            "in": "header",
            "description": "The location id of the practice",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the staff task to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Staff task canceled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {},
  "components": {
    "schemas": {
      "SignInRequest": {
        "type": "object",
        "required": [
          "username",
          "password",
          "role"
        ],
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "description": "Always set to `ROLE_API`"
          }
        }
      },
      "SignInResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "required": [
              "token"
            ],
            "properties": {
              "token": {
                "type": "string",
                "description": "JWT Bearer token"
              }
            }
          },
          "message": {
            "type": "string"
          }
        }
      },
      "SignInError": {
        "type": "object",
        "required": [
          "success",
          "message"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          },
          "message": {
            "type": "string",
            "description": "Incorrect email"
          }
        }
      },
      "GeneralError": {
        "type": "object",
        "required": [
          "success",
          "message"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "OpenTimesRequest": {
        "type": "object",
        "required": [
          "search_from_date",
          "appointment_type"
        ],
        "properties": {
          "search_from_date": {
            "type": "string",
            "format": "date-time",
            "description": "The start date/time of the search in ISO 8601 format. Can be a present or future timestamp.",
            "example": "2025-01-01T07:00:00Z"
          },
          "appointment_type": {
            "type": "string",
            "enum": [
              "wellness",
              "sick",
              "technician",
              "recheck"
            ],
            "description": "An string of the appointment type category. Available options: `wellness`, `sick`, `technician`, `recheck`."
          }
        }
      },
      "OpenTimesResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenTime"
            }
          },
          "message": {
            "type": "string"
          }
        }
      },
      "OpenTime": {
        "type": "object",
        "required": [
          "date",
          "available",
          "times"
        ],
        "properties": {
          "date": {
            "type": "string",
            "format": "date",
            "example": "MM/DD/YYYY",
            "description": "The date of this result in MM/DD/YYYY format"
          },
          "available": {
            "type": "boolean",
            "example": true,
            "description": "Whether this result has open times"
          },
          "times": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSlot"
            },
            "description": "An array of open times for this date"
          }
        }
      },
      "TimeSlot": {
        "type": "object",
        "required": [
          "start",
          "end",
          "label",
          "provider_id",
          "value",
          "uuid"
        ],
        "properties": {
          "start": {
            "type": "string",
            "format": "time",
            "description": "The start time of this result formatted as 2025-01-01T16:00:00-06:00"
          },
          "end": {
            "type": "string",
            "format": "time",
            "description": "The end time of this result formatted as 2025-01-01T16:20:00-06:00 (20 minutes after the start time)"
          },
          "provider_id": {
            "type": "string",
            "description": "The ID of the provider that this result is for"
          },
          "room_id": {
            "type": "string",
            "description": "The ID of the room that this result is for, if applicable"
          },
          "appointment_type_ids": {
            "type": "array",
            "description": "The IDs of the appointment types that this result is available for",
            "items": {
              "type": "string"
            }
          },
          "value": {
            "type": "string",
            "description": "The time value of this result formatted like 16:00"
          },
          "label": {
            "type": "string",
            "description": "The label of this result formatted like 4:00 pm"
          },
          "uuid": {
            "type": "string",
            "description": "The slot identifier for this result. Pass this as `slot_id` to the Create Appointment endpoint along with client and patient information to book this time."
          }
        }
      },
      "CreateAppointmentRequest": {
        "type": "object",
        "required": [
          "slot_id"
        ],
        "properties": {
          "slot_id": {
            "type": "string",
            "description": "The slot identifier returned from the Search Open Times endpoint (the `uuid` field). Encodes the appointment type, provider, room, and time."
          },
          "client_id": {
            "type": "integer",
            "description": "The internal Oliver ID of the client. Provide this, `client_remote_id`, or name + contact fields."
          },
          "client_remote_id": {
            "type": "string",
            "description": "The PIMS remote ID of the client. Alternative to `client_id`."
          },
          "first_name": {
            "type": "string",
            "description": "Client first name. Must be combined with `last_name` and either `phone` or `email`."
          },
          "last_name": {
            "type": "string",
            "description": "Client last name. Must be combined with `first_name` and either `phone` or `email`."
          },
          "phone": {
            "type": "string",
            "description": "Client phone number. Used with `first_name` + `last_name` to look up the client."
          },
          "email": {
            "type": "string",
            "description": "Client email. Used with `first_name` + `last_name` to look up the client."
          },
          "patient_id": {
            "type": "integer",
            "description": "The internal Oliver ID of the patient. Provide this or `patient_remote_id`."
          },
          "patient_remote_id": {
            "type": "string",
            "description": "The PIMS remote ID of the patient. Alternative to `patient_id`."
          },
          "note": {
            "type": "string",
            "description": "A note for the appointment."
          },
          "status": {
            "type": "string",
            "description": "Appointment status override. If omitted, the clinic's auto-accept setting determines the status.",
            "enum": ["REQUESTED", "ACCEPTED", "CONFIRMED"]
          }
        }
      },
      "CreateAppointmentResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "required": [
              "id"
            ],
            "properties": {
              "id": {
                "type": "integer",
                "description": "The internal Oliver ID of the appointment"
              },
              "remote_id": {
                "type": "string",
                "nullable": true,
                "description": "The PIMS remote ID of the appointment, if synced"
              },
              "remote_client_id": {
                "type": "string",
                "nullable": true,
                "description": "The PIMS remote ID of the client"
              },
              "remote_patient_id": {
                "type": "string",
                "nullable": true,
                "description": "The PIMS remote ID of the patient"
              },
              "status": {
                "type": "string",
                "description": "The appointment status",
                "enum": ["REQUESTED", "ACCEPTED", "CONFIRMED", "IN_PROGRESS", "DONE", "DELETED", "DECLINED"]
              },
              "booking_date": {
                "type": "string",
                "format": "date-time",
                "description": "The start date/time of the appointment in ISO 8601 format"
              },
              "end_date": {
                "type": "string",
                "format": "date-time",
                "description": "The end date/time of the appointment in ISO 8601 format"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "When the appointment was created in ISO 8601 format"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "When the appointment was last updated in ISO 8601 format"
              },
              "referral_source": {
                "type": "string",
                "nullable": true
              },
              "referral_campaign": {
                "type": "string",
                "nullable": true
              },
              "referral_medium": {
                "type": "string",
                "nullable": true
              },
              "client_first_name": {
                "type": "string",
                "description": "The client's first name"
              },
              "client_last_name": {
                "type": "string",
                "description": "The client's last name"
              },
              "client_email": {
                "type": "string",
                "nullable": true,
                "description": "The client's email address"
              },
              "client_phone": {
                "type": "string",
                "nullable": true,
                "description": "The client's phone number"
              },
              "client_type": {
                "type": "string",
                "description": "Whether the client is NEW or RETURNING"
              },
              "patient_name": {
                "type": "string",
                "description": "The patient's name"
              }
            }
          },
          "message": {
            "type": "string",
            "description": "A human-readable message, e.g. 'Appointment created successfully'"
          }
        }
      },
      "AppointmentResponse": {
        "type": "object",
        "required": [
          "page",
          "per_page",
          "total_pages",
          "total_count",
          "content"
        ],
        "properties": {
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          },
          "content": {
            "type": "array",
            "description": "An array of appointments",
            "items": {
              "$ref": "#/components/schemas/Appointment"
            }
          }
        }
      },
      "Appointment": {
        "type": "object",
        "required": [],
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the appointment"
          },
          "remote_id": {
            "type": "string",
            "description": "The remote ID of the appointment (The ID in the PIMS)"
          },
          "status": {
            "type": "string",
            "description": "The status of the appointment. 'REQUESTED', 'ACCEPTED', 'CONFIRMED', 'DELETED', 'IN_PROGRESS', 'DECLINED', 'DONE'"
          },
          "booking_date": {
            "type": "string",
            "format": "date-time",
            "description": "The start date/time of the appointment in ISO 8601 format"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "The end date/time of the appointment in ISO 8601 format"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "The date/time the appointment was created in ISO 8601 format"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "The date/time the appointment was last updated in ISO 8601 format"
          },
          "referral_source": {
            "type": "string",
            "description": "If a referral source (utm_source) was provided to the session in which the appointment was booked online, it will be returned here"
          },
          "referral_campaign": {
            "type": "string",
            "description": "If a referral campaign (utm_campaign) was provided to the session in which the appointment was booked online, it will be returned here"
          },
          "referral_medium": {
            "type": "string",
            "description": "If a referral medium (utm_medium) was provided to the session in which the appointment was booked online, it will be returned here"
          },
          "client_first_name": {
            "type": "string",
            "description": "The first name of the client that booked the appointment"
          },
          "client_last_name": {
            "type": "string",
            "description": "The last name of the client that booked the appointment"
          },
          "client_email": {
            "type": "string",
            "description": "The email address of the client that booked the appointment"
          },
          "client_phone": {
            "type": "string",
            "description": "The phone number of the client that booked the appointment"
          },
          "client_type": {
            "type": "string",
            "description": "The type of client that booked the appointment. 'NEW' or 'RETURNING'"
          },
          "patient_name": {
            "type": "string",
            "description": "The name of the patient that booked the appointment"
          },
          "remote_client_id": {
            "type": "string",
            "description": "The remote ID of the client in the PIMS"
          },
          "remote_patient_id": {
            "type": "string",
            "description": "The remote ID of the patient in the PIMS"
          }
        }
      },
      "AppointmentType": {
        "type": "object",
        "required": [
          "id",
          "name",
          "duration",
          "provider_ids"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the appointment type"
          },
          "name": {
            "type": "string",
            "description": "The name of the appointment type"
          },
          "duration": {
            "type": "integer",
            "description": "The duration of the appointment type in minutes"
          },
          "provider_ids": {
            "type": "array",
            "description": "The IDs of the providers that can service this appointment type"
          }
        }
      },
      "Provider": {
        "type": "object",
        "required": [
          "id",
          "name",
          "appointment_type_ids",
          "room_ids"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the provider"
          },
          "name": {
            "type": "string",
            "description": "The name of the provider"
          },
          "appointment_type_ids": {
            "type": "array",
            "description": "The IDs of the appointment types that this provider offers",
            "items": {
              "type": "string"
            }
          },
          "room_ids": {
            "type": "array",
            "description": "The IDs of the rooms that this provider can be booked into. Empty if rooms are not applicable for this provider.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Client": {
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the client"
          },
          "name": {
            "type": "string",
            "description": "The name of the client"
          },
          "email": {
            "type": "string",
            "description": "The email address of the client"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the client"
          },
          "patients": {
            "type": "array",
            "description": "List of patients associated with this client",
            "items": {
              "$ref": "#/components/schemas/Patient"
            }
          },
          "remote_id": {
            "type": "string",
            "description": "The ID of the client in the remote system it was imported from, if available"
          }
        }
      },
      "Room": {
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the room"
          },
          "name": {
            "type": "string",
            "description": "The name of the room"
          },
          "description": {
            "type": "string",
            "description": "A description of the room"
          }
        }
      },
      "Patient": {
        "type": "object",
        "required": [
          "id",
          "name",
          "client_id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the patient"
          },
          "name": {
            "type": "string",
            "description": "The name of the patient"
          },
          "client_id": {
            "type": "string",
            "description": "The ID of the client that owns this patient"
          },
          "species": {
            "type": "string",
            "description": "The species of the patient"
          },
          "breed": {
            "type": "string",
            "description": "The breed of the patient"
          }
        }
      },
      "BookingSessionResponse": {
        "type": "object",
        "required": [
          "page",
          "per_page",
          "total_count",
          "content"
        ],
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number (0-based)"
          },
          "per_page": {
            "type": "integer",
            "description": "Number of results per page"
          },
          "total_count": {
            "type": "integer",
            "description": "Total number of matching booking sessions"
          },
          "content": {
            "type": "array",
            "description": "An array of booking sessions",
            "items": {
              "$ref": "#/components/schemas/BookingSession"
            }
          }
        }
      },
      "BookingSession": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique ID of the booking session"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "completed",
              "abandoned"
            ],
            "description": "The status of the session. 'active' = in progress, 'completed' = resulted in an appointment, 'abandoned' = expired without booking."
          },
          "stage": {
            "type": "string",
            "enum": [
              "started",
              "client_identification",
              "appointment_type_selection",
              "scheduling",
              "checkout",
              "completed"
            ],
            "description": "The furthest stage the user reached in the booking flow"
          },
          "client_type": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "new",
              "returning",
              null
            ],
            "description": "Whether the client was new or returning. Null if not yet determined."
          },
          "appointment_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "The ID of the appointment created by this session, if completed"
          },
          "remote_appointment_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "The ID of the remote appointment created by this session, if completed"
          },
          "referral_source": {
            "type": [
              "string",
              "null"
            ],
            "description": "The referral source (utm_source) associated with this session"
          },
          "referral_campaign": {
            "type": [
              "string",
              "null"
            ],
            "description": "The referral campaign (utm_campaign) associated with this session"
          },
          "referral_medium": {
            "type": [
              "string",
              "null"
            ],
            "description": "The referral medium (utm_medium) associated with this session"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "The date/time the session was created in ISO 8601 format"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "The date/time the session was last updated in ISO 8601 format"
          },
          "last_activity_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "The date/time of the last user activity in the session in ISO 8601 format"
          }
        }
      },
      "StaffTask": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique ID of the staff task"
          },
          "task_type": {
            "type": "string",
            "enum": [
              "task",
              "rx_refill"
            ],
            "description": "The type of staff task"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "completed",
              "canceled"
            ],
            "description": "The current status of the task"
          },
          "title": {
            "type": "string",
            "description": "The title of the task"
          },
          "description": {
            "type": "string",
            "description": "A detailed description of the task"
          },
          "client_id": {
            "type": "string",
            "nullable": true,
            "description": "The ID of the client associated with this task"
          },
          "patient_id": {
            "type": "string",
            "nullable": true,
            "description": "The ID of the patient associated with this task"
          },
          "cancellation_allowed": {
            "type": "boolean",
            "description": "Whether the task can be canceled"
          },
          "override_completion_action_text": {
            "type": "string",
            "nullable": true,
            "description": "Custom text for the completion action button, if set"
          },
          "reference_time_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "A reference timestamp associated with the task in ISO 8601 format"
          },
          "finalized_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "The timestamp when the task was completed or canceled in ISO 8601 format"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the task was created in ISO 8601 format"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the task was last updated in ISO 8601 format"
          }
        }
      },
      "StaffTaskListResponse": {
        "type": "object",
        "required": [
          "page",
          "per_page",
          "total_pages",
          "total_count",
          "content"
        ],
        "properties": {
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          },
          "content": {
            "type": "array",
            "description": "An array of staff tasks",
            "items": {
              "$ref": "#/components/schemas/StaffTask"
            }
          }
        }
      },
      "CreateStaffTaskRequest": {
        "type": "object",
        "required": [
          "title"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "The title of the task"
          },
          "description": {
            "type": "string",
            "description": "A detailed description of the task"
          },
          "task_type": {
            "type": "string",
            "enum": [
              "task",
              "rx_refill"
            ],
            "default": "task",
            "description": "The type of staff task. Defaults to `task` if not provided. Allowed values: `task`, `rx_refill`"
          },
          "client_id": {
            "type": "string",
            "description": "The ID of the client to associate with this task"
          },
          "patient_id": {
            "type": "string",
            "description": "The ID of the patient to associate with this task"
          },
          "reference_time_at": {
            "type": "string",
            "format": "date-time",
            "description": "A reference timestamp for the task in ISO 8601 format"
          }
        }
      },
      "UpdateStaffTaskRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "The title of the task"
          },
          "description": {
            "type": "string",
            "description": "A detailed description of the task"
          },
          "task_type": {
            "type": "string",
            "enum": [
              "task",
              "rx_refill"
            ],
            "description": "The type of staff task. Allowed values: `task`, `rx_refill`"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "completed",
              "canceled"
            ],
            "description": "The status of the task. Setting to `completed` or `canceled` will automatically set `finalized_at`. Setting back to `pending` will clear `finalized_at`."
          },
          "client_id": {
            "type": "string",
            "description": "The ID of the client to associate with this task"
          },
          "patient_id": {
            "type": "string",
            "description": "The ID of the patient to associate with this task"
          },
          "reference_time_at": {
            "type": "string",
            "format": "date-time",
            "description": "A reference timestamp for the task in ISO 8601 format"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
